{% extends "base.html" %}
{% block content %}
<h2>About Page</h2>
<p>
    Thorin and Company refers to the thirteen exiled Dwarves under the leadership of Thorin Oakenshield and the one
    Hobbit Bilbo Baggins, who famously made the Quest of Erebor, travelling through the Misty Mountains and the
    Wilderland to the Lonely Mountain, to recover their ancient treasure from the Kingdom of Erebor, stolen by the
    Dragon Smaug.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            Thorin II was born in TA 2746 to the Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
            youth, Thorin and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug, in TA
            2770. While in exile, he quickly grew into a capable warrior. This was demonstrated at the Battle of
            Azanulbizar, near Moria, in TA 2799. He fought with one of the Dwarven armies beneath Moria's East-gate, and
            at some point in the battle, his shield broke, and, using an oaken tree branch found on the ground as a
            shield, he gained the epithet "Oakenshield," which remained with him even in death.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/a/a6/HBT-DWF-003.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Filli and Killi</h3>
        <p>
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves in Thorin's company.

        </p>

    </div>
</div>

{% endblock %}